<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Note</title>
</head>
<body>
          <header>
               <nav>
            
                <ul>
                 
                    <li><a href="/user/new-Note">New Note</a></li>
                    <li><a href="/user/all-Notes">All-Notes</a></li>

                </ul>
         

               </nav>

           </header> 
</body>

<main>
     <form action="/user/all-Notes" method="post">

        <input type="text" name="title">
        <input type="submit" value="Submit">



     </form>


</main>


</html>